body {
    margin: 0;
}

nav {
    background-color: #b2c2bf;
    border: 3px double black;
    display: flex;
    justify-content: right;
}

nav a {
    font-style: italic;
    padding-right: 3px;
}

nav a:hover {
    color: red;
}

.bio {
    font-family: "Bebas Neue", serif;
    color: #949472;
    font-size: larger;
}

#cpuimg {
    position: absolute;
    top: 65px;
    right: 38px;
    height: 75px;
    border-bottom: 2px solid black;
}

#srvimg {
    position: absolute;
    top: 55px;
    right: 0;
    height: 85px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.main {
    background-color: #c0ded9;
    padding-bottom: 1px;
}

.main h2 {
    font-family: "Antic Slab", serif;
    color: #616144;
    font-size: larger;
}

#headshot {
    display: block;
    margin: auto;
    border-radius: 50px;
}

hr {
    border-width: 3px;
    border-style: double;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.card {
    padding: 20px;
    border: 3px solid #c9c9c9;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    background-color: #b4d3ce;
    display: grid;
}

.card img {
    display: block;
    margin: auto;
}

.card h3 {
    text-align: center;
}

#languages {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#experience {
    display: grid;
}

#experience dd {
    text-align: right;
}

#skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    background-color: #eaece5;
    border: 3px solid black;
    display: flex;
    justify-content: center;
}

footer a {
    font-style: italic;
    padding-left: 5px;
}

footer a:hover {
    color: red;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red
}

.one-col {
    display: grid;
}